<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content">
        <p th:text="#{email.payment.greeting(${user.firstname})}">
            Dear
        </p>
        <p th:text="#{email.payment.intro(${payment.orderReference})}">
            Thank you for your order # {0}
        </p>
        <p>
        <div><span th:text="#{email.payment.amount}">Delivery Method:</span> <span th:text="${payment.amount}"/></div>
        <div><span th:text="#{email.payment.method}">Payment Method:</span> <span th:text="${payment.paymentMethod}"/></div>
        </p>

        <p th:text="#{email.payment.message}">>
            Your order is as follows:
        </p>

</div>
</body>
</html>