<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content">
        <p th:text="#{email.reset.greeting(${user.firstname})}">
            Dear
        </p>
        <p th:text="#{email.reset.text1}">
            For your JHipster account a password reset was requested, please click on the URL below to reset it:
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/reset-finish?key=${user.resetKey}|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>

</div>
</body>
</html>