<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head></head>
<body>
<div th:fragment="content">
        <p th:text="#{email.pricing.greeting(${user.firstname})}">
            Dear
        </p>
        <p th:text="#{email.pricing.intro}">
            Thank you for your pricing request from badals.com!
        </p>
        <p th:text="#{email.pricing.message}">>
            Your order is as follows:
        </p>
        <table>
            <tr th:each="o: ${pricingrequests}">
                <td><a th:href="${baseUrl}+'/product/' + ${o.sku}"><span th:text="${baseUrl}+'/product/' + ${o.sku}"/></a> </td>
            </tr>
        </table>



</div>
</body>
</html>
