<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.voltage.title}">Badals.com ACTION NEEDED</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.order.greeting(${user.firstname})}">
            Dear
        </p>
        <p th:text="#{email.order.intro(${order.reference})}">
            Thank you for your order # {0}
        </p>
        <p th:text="#{email.voltage.details1}">>
            Some items of your order have voltage specific to the USA which is 110V. That means they will only work in Oman with a transformer. Failure to use a transformer will cause the device immediate damage.
        </p>
        <p th:text="#{email.voltage.details2}">>
 While many of our customers are aware of this and use the devices with a transformer, we need to make sure that you are too. Please note that tranformers can also be purchased from badals.com, or at most electricity stores.

        </p>
        <p th:text="#{email.voltage.details3}">>
We are unable to accept any returns of voltage mismatch items for any reason after delivery.
        </p>

        <table>
            <th></th><th>Item Name</th><th>Quantity</th><th>Price</th><th>Write Approve or Cancel</th>
            <tr th:each="o: ${items}">
                <td><img th:src="${o.image}" style="max-width: 70px"/></td>
                <td th:text="${o.productName}" />
                <td th:text="${o.quantity}" />
                <td th:text="${o.price}" />
                <td th:text="#{email.voltage.approveorcancel}"/>
            </tr>
        </table>
        <p th:text="#{email.voltage.action}">>
Please write Approve or cancel for each item above, and respond to this email. If we don't hear back from you in 48 hours, the items will get cancelled.
        </p>
        <p>
            <span th:text="#{email.order.thanks}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Badals.com.</em>
        </p>
    </body>
</html>
