<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{email.pricing.title}">Pricing Request</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.pricing.greeting(${user.firstname})}">
            Dear
        </p>
        <p th:text="#{email.pricing.intro}">
            Thank you for your pricing request from badals.com!
        </p>
        <p th:text="#{email.pricing.message}">>
            Your order is as follows:
        </p>
        <table>
            <tr th:each="o: ${pricingrequests}">
                <td><a th:href="'https://www.badals.com/product/' + ${o.sku}"><span th:text="'https://www.badals.com/product/' + ${o.sku}"/></a> </td>
            </tr>
        </table>



        <p>
            <span th:text="#{email.order.thanks}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Badals.com.</em>
        </p>
    </body>
</html>
